@font-face
{
    src: url("../../resources/fonts/OpenSans-Light.ttf");
}

@font-face
{
    src: url("../../resources/fonts/BigSpace.ttf");
}

.root
{
    -fx-font-size: 15;
    -fx-background-color: linear-gradient(to bottom, #642B73, #C6426E);
}

.jfx-text-field
{
    -fx-font-family: "Open Sans Light";
    -jfx-focus-color: #7f15b9;
    -jfx-unfocus-color: #515151;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #b8b7b7;
    -fx-pref-width: 270;
    -fx-pref-height: 40;
}

.jfx-password-field
{
    -fx-font-family: "Open Sans Light";
    -jfx-focus-color: #7f15b9;
    -jfx-unfocus-color: #515151;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #b8b7b7;
    -fx-pref-width: 270;
    -fx-pref-height: 40;
}

.jfx-combo-box
{
    -fx-font-family: "Open Sans Light";
    -jfx-focus-color: #7f15b9;
    -jfx-unfocus-color: #515151;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #b8b7b7;
    -fx-pref-width: 270;
    -fx-pref-height: 40;
}

.jfx-combo-box .list-cell
{
    -fx-text-fill: white;
    -fx-background-color: #C6426E;
}

.label
{
    -fx-font-family: "Open Sans Light";
    -fx-text-fill: white;
}

.server-label
{
    -fx-font-family: "Open Sans Light";
    -fx-font-size: 12;
}

.icon
{
    -fx-font-size: 25;
}

.jfx-button
{
    -fx-font-family: "Open Sans Light";
    -fx-background-color: #2f3da7;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-pref-width: 115;
    -fx-pref-height: 40;
}

.back-button
{
    -fx-font-family: "Open Sans Light";
    -fx-background-radius: 100;
    -fx-background-color: #7f15b9;
    -fx-font-size: 12px;
    -fx-pref-width: inherit;
    -fx-pref-height: inherit;
}

.jfx-toggle-button
{
    -fx-font-family: "Open Sans Light";
}

.hyperlink
{
    -fx-font-family: "Open Sans Light";
}

.title
{
    -fx-font-family: "Big Space";

}