@font-face
{
    src: url("../../resources/fonts/OpenSans-Light.ttf");
}

.root
{
    -fx-background-color: linear-gradient(to bottom, #C6426E, #642B73);
}

.jfx-progress-bar .track
{
    -fx-background-color: #642B73;
    -fx-background-radius: 50;
}

.jfx-progress-bar .bar
{
    -fx-background-color: linear-gradient(to right, crimson, purple);
}

.loading
{
    -fx-text-fill: linear-gradient(to bottom, #000046, indigo);
    -fx-font-size: 55;
    -fx-font-family: "Open Sans Light";
}

.description
{
    -fx-text-fill: linear-gradient(to bottom, #000046, indigo);
    -fx-font-size: 20;
    -fx-font-family: "Open Sans Light";
}