@font-face
{
    src: url("../../resources/fonts/OpenSans-Light.ttf");
}

@font-face
{
    src: url("../../resources/fonts/BigSpace.ttf");
}

.root
{
    -fx-background-color: linear-gradient(to bottom, #642B73, #C6426E);
}

.cell:hover
{
    -fx-background-color: rgba(0,0,0,0.2);
}

.cell:pressed
{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.cell:disabled
{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: black;
}

.jfx-combo-box .list-cell
{
    -fx-text-fill: white;
}