@font-face
{
    src: url("../../resources/fonts/OpenSans-Light.ttf");
}

.root
{
    -fx-background-color: linear-gradient(to bottom, #000046, #1CB5E0);
}

.label
{
    -fx-font-family: "Open Sans Light";
    -fx-text-fill: white;
}