@font-face
{
    src: url("../../resources/fonts/OpenSans-Light.ttf");
}

@font-face
{
    src: url("../../resources/fonts/BigSpace.ttf");
}

.root
{
    -fx-background-color: linear-gradient(to bottom, #642B73, #C6426E);
}

.tab
{
    -fx-pref-width: 118;
    -fx-background-color: linear-gradient(to bottom, #642B73, #C6426E);
}

.tab-label
{
    -fx-font-size: 15;
}

.tab-header-background
{
    -fx-background-color : linear-gradient(to bottom, #642B73, #C6426E);
}

.title
{
    -fx-font-family: "Big Space";
}

.scroll-pane > .viewport
{
    -fx-background-color: transparent;
}

.chat-users-scroll-pane
{
    -fx-background-color: linear-gradient(to bottom, #0F2027, #203A43, #2C5364);
}

.chat-messages-scroll-pane
{
    -fx-background-color: transparent;
}

.friends-scroll-pane
{
    -fx-background-color: rgba(43, 22, 159, 0.5);
    -fx-background-radius: 20 0 0 20;
}

.scroll-bar
{
    -fx-background-color: transparent;
}

.scroll-bar .thumb
{
    -fx-background-radius: 30;
    -fx-background-color: #000046;
}

.scroll-bar .increment-button ,
.scroll-bar .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar .thumb:hover
{
    -fx-background-color: white;
}

.text-area
{
    -fx-background-color: #2C3A47;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 4, 2, 0, 2;
    -fx-text-fill: white;
}

.text-area .content
{
    -fx-background-color: #2C3A47;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}